@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width: 768px) {
  .optimal-angle-calculator select,
  .optimal-angle-calculator button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 100%;
  }
}
.sun-position-info {
  position: relative;
}
#root,
.App {
  height: 100%;
}
.tooltip {
  position: absolute;
  top: 0;
  left: 65%; /* Tooltipi sağa taşıyo */

  visibility: hidden; /* Başlangıçta görünmez yapar */
  opacity: 0; /* Başlangıçta saydam yapar */
  transition: visibility 0.3s, opacity 0.3s; /* animasyon */
  z-index: 100; /* üstte olsun  */
}

.sun-position-info:hover .tooltip,
.sun-position-info .tooltip:hover {
  visibility: visible; /* Üzerine geldiğinde görünür yapar */
  opacity: 1; /* Üzerine geldiğinde opak yapar */
}

.modal {
  display: flex;
  position: fixed; /* Sabit konumlandırma yap */
  z-index: 1000;
  right: 0px;
  bottom: 100px; /* Butonun üstünde 100px boşluk bırak */
  width: 90%; /* Ekranın %90'ını kaplasın */
  max-width: 600px; /* Maksimum genişlik sınırı */
  overflow: visible;
  flex-direction: column; /* İçerikleri sütun olarak hizala */
  align-items: center; /* İçerikleri yatay olarak ortala */
  padding: 20px;
  border-radius: 10px; /* Kenarları yuvarlak yap */
  background: linear-gradient(145deg, #ff7e5f, #feb47b);
}
p {
  font-size: 16px;
  line-height: 1.6; /* Satır yüksekliğini arttır */
  margin-bottom: 10px;
}
.ana-baslik {
  text-align: center;
  font-size: 30px;
  color: rgb(232, 255, 225);
  background: linear-gradient(145deg, #ff7e5f, #feb47b);
  border-radius: 8px;
  margin-bottom: 20px;
}

.baslik-ortalama {
  /* h2 başlıgını ortalıyor bu*/
  text-align: center;
  font-size: larger;
  color: #007bff;
}
h3 {
  font-size: 18px; /* Daha küçük bir font boyutu */
  margin-bottom: 8px; /* Alt boşluğu ekle */
  color: #ff7e5f;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px; /* Kenarları yuvarlak yap */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Gölge efekti */
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.help-button {
  position: fixed;
  z-index: 1001;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  z-index: 1000;
  cursor: pointer;
  background: linear-gradient(
    145deg,
    #ff7e5f,
    #feb47b
  ); /* Alev rengi arka plan */
  color: white; /* Buton yazı rengi */
  border: none; /* Kenarlık kaldırıldı */
  border-radius: 30px; /* Yuvarlak kenarlar */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölge efekti */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animasyonlar için geçiş */
}

.help-button:hover {
  transform: translateY(-9px); /* Üzerine gelindiğinde hafifçe kaldır */
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); /* Gölgeyi arttır */
}
.bg-black.bg-opacity-50.p-4.rounded {
  max-width: 600px;
  width: 100%;
  margin: auto;
}
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../public/solarpanel.jpg");
  background-size: cover; /* Resmin ekranı kaplamasını sağlar */
  background-repeat: no-repeat;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 8px;
}

h2 {
  color: rgb(230, 255, 223);
  font-size: larger;
}

p {
  font-size: 16px;
}

.location-info {
  background: linear-gradient(145deg, #ed9883, #cfbeb6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.sun-position-info {
  background: linear-gradient(145deg, #ed9883, #cfbeb6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.optimal-angle-calculator {
  background: linear-gradient(145deg, #ed9883, #cfbeb6);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.optimal-angle-calculator select,
.optimal-angle-calculator button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  width: 100%;
}

.optimal-angle-calculator button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

.optimal-angle-calculator button:hover {
  background: linear-gradient(145deg, #ff7e5f, #feb47b);
}

.hesaplama p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  position: relative;
}
.hesaplama-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px !important;
}
@keyframes popUp {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.1);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes colorShift {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.popUpAnimation {
  animation: popUp 0.3s ease forwards;
  transform-origin: center bottom;
}

.colorShiftAnimation {
  animation: colorShift 2.5s ease infinite;
  background: linear-gradient(to left, #171140, #faf0ce, #4ea2d9, #812430);
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline;
}
